<!DOCTYPE html>
<html>
    <!-- this is the github, not the gitlab -->

    <head>
        <title>Spotify Roastinator</title>
        <link rel="stylesheet" href = "{{ url_for('static', filename='RobertPattinson.css') }}">
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>Welcome! And recoil in horror! Before the image of the Spotify, Roast-Inatorrrr!!!!! Hahhahahahahahahahaaaa!!!!!!!</h1>
        <br>
        <p id="fire"> &#128293</p>
        <br>
        <p id = "text2">Show me your music taste. Go on, I won't bite...</p>  
        <a href="{{ url_for('login') }}" class="login-btn">
            <button type="button">
           <span class="emoji-container">
            <span class="flame">🔥</span>
            <span class="skull">💀</span>
           </span>
           Login with Spotify, if you dare....
            </button>
        </a>
    </body>
</html>