<!DOCTYPE html>
<html>
    <head>
    <title>Something's Cooking...</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename = 'RobertPattinson.css')}}">
    <meta http-equiv="refresh" content="3;url={{ url_for('analysis') }}">
    </head>
    <body onload="loopAction(document.getElementById('LoadingText'))">
        <p id = "LoadingText">Loading</p>

        <script>
            setTimeout(() => {
            window.location.href = "{{ url_for('analysis') }}";
        }, 3000);
        </script>

    </body>
</html>